{% extends 'base.html' %}

{% block style %}
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    .center{
      position:absolute;
      top:500px;
      left:50%;
      transform: translate(-50%, -50%);
    }

    .meaning{
        width:400px;
        margin:auto;
    }
{% endblock style %}
{% block content %}
<div class="center container">

      <div class="meaning container">
          <h3 style="color:red";>{{search}} meaning: </h3>
          <img src="https://source.unsplash.com/400x200/?{{search}}">
          <br>

        {% for meaning in meanings %}
        {% if forloop.counter <= 5 %}
          
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          <span style="color:blue"><strong>{{meaning}}</strong></span>
          <br>
          <br>
        {% endif %}
      {% endfor %}
      <div class="col-md-4 col-sm-8">
      <a class="btn btn-outline-primary" href="{% url 'home' %} ">Back to Home</a>
     </div>
      </div>   

</div>

</div>

{% endblock content %}